.hero {
  padding: 20px 0 40px 0;
}

.movies-card-img {
  height: 402px;
  width: 280px;
  border-radius: 5px;
}

.movies-card-wrapper {
  margin-bottom: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.movies-card:last-child {
  margin-bottom: 0px;
}

.description-title {
  font-family: Roboto;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #000000;
}

.description-genre-release-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;

  color: #ff6b08;
}

.description-release-date {
  margin-left: 2px;
  padding-left: 2px;
  border-left: solid 2px #ff6b08;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 60px 0 50px 0;
  }

  .movies-card-img {
    width: 294px;
    height: 398px;
  }

  .movies-card-wrapper {
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
  }

  .movies-card-wrapper:last-child {
    margin-bottom: 0px;
  }

  .movies-card-wrapper:nth-last-child(2) {
    margin-bottom: 0px;
  }

  .movies-card-wrapper:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movies {
    display: flex;
    flex-wrap: wrap;
  }

  .movies-card-img {
    width: 274px;
  }

  .movies-card-wrapper {
    margin-bottom: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }

  .movies-card-wrapper:not(:last-child) {
    margin-right: 30px;
  }

  .movies-card-wrapper:nth-child(3n) {
    margin-right: 0;
  }
}

.movies-card-vote {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.17;
  color: $color-light;
  background-color: $color-accent;
  border-radius: 5px;
}
