a {
  display: block;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

.backdrop {
  position: fixed;
  // left: 0;
  // top: 0;
  opacity: 1;
  pointer-events: initial;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  z-index: 9999;
  // padding-left: 28px;
  // padding-right: 30px;

  &.is-hidden {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.container_modal_progr {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;

  padding: 48px 20px 40px;
  background-color: #ffffff;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    max-width: 618px;
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 42px;
    padding-bottom: 40px;
    display: flex;
    margin-top: 231px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 100px;
  }
}
.button__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../images/close_main.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.card_modal_progr {
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 30px;
  }
}

.title_modal_progr {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
    margin-top: 0px;
  }
}
.title_info_modal_progr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.info_modal_progr {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vote_grade {
  font-weight: 500;
  color: #ffffff;
  width: 36px;
  height: 16px;
  background-color: #ff6b01;
  border-radius: 5px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
}

.vote_distance {
  margin-right: 47px;
  @media screen and (min-width: 1024px) {
    margin-right: 85px;
  }
}
.popularity_distance {
  margin-right: 53px;
  @media screen and (min-width: 1024px) {
    margin-right: 97px;
  }
}
.title_distance {
  margin-right: 39px;
  @media screen and (min-width: 1024px) {
    margin-right: 83px;
  }
}
.genre_distance {
  margin-right: 76px;
  @media screen and (min-width: 1024px) {
    margin-right: 120px;
  }
}

.about {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.data_items_modal_progr {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  /*  margin-left: 39px; */
}
.description_modal_progr {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 21px;
}
.add_watched {
  display: block;
  width: 112.58px;
  height: 44px;
  background: #ff6b01;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 125px;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 15px;
  }
}
.add_queue {
  border: 1px solid #000000;
  width: 112.58px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  @media screen and (min-width: 768px) {
    width: 125px;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
  }
}
.buttons_modal_progr {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    justify-content: space-between;
  }
}
.icon-crist {
  width: 30px;
  height: 30px;
}
.modal__img {
  width: 251px;
  @media screen and (min-width: 768px) {
    width: 264px;
    /*   height: 374px; */
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    /*    height: 477px; */
  }
}
ul {
  list-style: none;
}
.upper_title {
  text-transform: uppercase;
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}
