.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  pointer-events: initial;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  z-index: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: hidden;
  padding-left: 28px;
  padding-right: 30px;

  &.is-hidden {
    transform: scale(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
// Coma //////
.genrePoint:not(:last-child)::after {
  content: ', ';
  color: #000000;
}

.container_modal_progr {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 280px;
  padding: 48px 20px 40px;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    transform: translate(-50%, -50%);
    max-width: 618px;
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 42px;
    padding-bottom: 40px;
    display: flex;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
.button__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../images/close_main.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.card_modal_progr {
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 30px;
  }
}

.title_modal_progr {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
    margin-top: 0px;
  }
}
.title_info_modal_progr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  max-width: 200px;
}
.info_modal_progr {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  &_item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.vote_distance {
  margin-right: 47px;
  @media screen and (min-width: 1024px) {
    margin-right: 92px;
  }
}
.popularity_distance {
  margin-right: 53px;
  @media screen and (min-width: 1024px) {
    margin-right: 97px;
  }
}
.title_distance {
  margin-right: 39px;
  @media screen and (min-width: 1024px) {
    margin-right: 83px;
  }
}
.genre_distance {
  margin-right: 76px;
  @media screen and (min-width: 1024px) {
    margin-right: 120px;
  }
}

.about {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.data_items_modal_progr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  /*  margin-left: 39px; */
  &.vote_average {
    color: #ffffff;
    background-color: #ff6b01;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 3px;
  }
  &.vote_count {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.description_modal_progr {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 21px;
}
.add_watched {
  border: 1px solid #000000;
  width: 112.58px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  &.watched {
    background: #ff6b01;
    color: #ffffff;
    border: none;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 15px;
  }
}
.add_queue {
  border: 1px solid #000000;
  width: 112.58px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  &.queued {
    background: #ff6b01;
    color: #ffffff;
    border: none;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
  }
}
.buttons_modal_progr {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.icon-crist {
  width: 30px;
  height: 30px;
}
.modal__img {
  width: 240px;
  height: 356.57px;
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 477.8px;
  }
}
ul {
  list-style: none;
}
.upper_title {
  text-transform: uppercase;
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}
