<header hidden class="header">
    <div class="container">
        <div class="header-top">
            <a href="./index.html" class="logo coin">
                <svg width="24" height="24">
                    <use xlink:href="./images/sprite.svg#film" />
                </svg>
                <span class="logo-txt">Filmoteka</span>
            </a>

            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-btn is-active-btn go-home">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index.html" class="nav-btn go-lab">
                            MY LIBRARY
                        </a>
                    </li>
                    <li>
                        <div class="theme-switch">
                            <span>ru </span>
                            <div class="theme-switch__control">
                                <input class="theme-switch__toggle" type="checkbox" name="theme"
                                    id="theme-switch-toggle" aria-label="Switch languages" />
                                <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
                                </label>
                                <div aria-hidden="true" class="theme-switch__marker"></div>
                            </div>
                            <span> en</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom">
            <form class="search-form">
                <input type="text" placeholder="Search a movie" class="input-search" />
                <span class="search-icon">
                    <svg width="12" height="12">
                        <use xlink:href="./images/sprite.svg#search-2" />
                    </svg>
                </span>
            </form>
            <!-- <form class = "results-filter-form"></form> -->
            <div class="filter-wrapper hidden">
                <p class="filter-lable-text">Need something more specific? Try to filter the results!</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2 sr-only" for="genresSelect">genre</label>
                        <select class="custom-select mr-sm-2 select-opt" id="genresSelect">

                            <!-- dynamically rendered -->
                        </select>
                        <label class="mr-sm-2 sr-only" for="yearSelect">year-range</label>
                        <select class="custom-select mr-sm-2 select-opt" id="yearSelect">
                            <option selected>All years range</option>
                            <option value="2000 - 2020">2000 - 2020</option>
                            <option value="1980 - 2000">1980 - 2000</option>
                            <option value="1960 - 1980">1960 - 1980</option>
                            <option value="1940 - 1960">1940 - 1960</option>
                            <option value="1920 - 1940">1920 - 1940</option>
                        </select>
                    </div>

                </div>
            </div>
            <p class="error-message hidden" id="invalid-search">Search result is not successful. Use only letters or
                numbers.</p>
            <p class="error-message hidden" id="no-result">Nothing was found. Try a different search term.</p>
        </div>
    </div>
</header>