<header>
  <div class="header__background">
    <div class="header__container container">
      <div class="header__wrapper">
        <div class="logo-wrapper">
          <a class="logo" href="./index" aria-label="logo of filmoteka">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#film"></use>
            </svg>
            <span class="logo__text">Filmoteka </span>
          </a>
        </div>
        <nav class="site-nav">
          <button
            id="home-button"
            class="header-button home-button current"
            type="button"
            aria-label="main page switch"
          >
            Home
          </button>
          <button
            id="library-button"
            class="header-button library-button "
            type="button"
            aria-label="library page switch"
          >
            My library
          </button>
        </nav>
      </div>

      <div class="search-container">
        <form class="search__input-wrapper">
          <input
            class="search__input"
            type="text"
            name="query"
            autocomplete="off"
            aria-label="Search films "
            placeholder="Поиск фильмов"
            contenteditable
          />
        </form>
        <p class="no-results"></p>
      </div>
      <div class="button-container visually-hidden">
                <button class="button watched-button" type="button">
                    Watched
                </button>
                <button class="button queue-button" type="button">queue</button>
            </div>
    </div>
  </div>


  <div class="library__background visually-hidden">
    <div class="header__container container">
      <div class="header__wrapper ">
        <div class="logo-wrapper">
          <a class="logo" href="./index" aria-label="logo of filmoteka">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#film"></use>
            </svg>
            <span class="logo__text">Filmoteka </span>
          </a>
        </div>
        <nav class="site-nav">
          <button id="home-button" class="header-button home-button current" type="button" aria-label="main page switch">
            Home
          </button>
  
  
  
          <button id="library-button" class="header-button library-button " type="button"
            aria-label="library page switch">
            My library
          </button>
      </div>
      </nav>
    </div>
  
    <div class="search-container">
      <form class="search__input-wrapper">
        <input class="search__input" type="text" name="query" autocomplete="off" aria-label="Search films "
          placeholder="Поиск фильмов" contenteditable />
      </form>
      <p class="no-results"></p>
    </div>
    <div class="button-container visually-hidden">
      <button class="button watched-button" type="button">
        Watched
      </button>
      <button class="button queue-button" type="button">queue</button>
    </div>
  </div>
</header>
