<div class="modal">
    <button type="button" class="close-btn" data-modal-close>
        <svg width="18" height="18">
            <use href="#">
            </use>
        </svg>

        <form action="#" class="form-modal">
            <p>НАД ПРОЕКТОМ РАБОТАЛИ</p>
            <label>
                <section class="section center team no-padding-bottom">
                    <div class="container">
                        <ul class="section-names list">
                            <li class="sectin-names-shadow">
                                <img src="./images/modal_about_us/m.jpg" alt="Mykola" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Mykola Senyuk</h3>
                                    <p class="section-title-position">Team Lead</p>
                                </div>
                            </li>
                            <li class="sectin-names-shadow">
                                <img src="./images/modal_about_us/Marina.jpg" alt="Marina" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Marina Dumberga-Lobanova</h3>
                                    <p class="section-title-position">Scrum Master</p>
                                </div>
                            </li>
                            <li class="sectin-names-shadow">
                                <img src="./images/modal_about_us/Marina Z.jpg" alt="Марина" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Марина Заквацкая</h3>
                                    <p class="section-title-position">***</p>
                                </div>
                            </li>
                            <li class="sectin-names-shadow">
                                <img src="#" alt="Iryna" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Iryna Sydoruk</h3>
                                    <p class="section-title-position">***</p>
                                </div>
                            </li>
                            <li class="sectin-names-shadow">
                                <img src="#" alt="Anastasia" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Anastasia Yun</h3>
                                    <p class="section-title-position">Designer</p>
                                </div>
                            </li>
                            <li class="sectin-names-shadow">
                                <img src="#" alt="Maksym" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Maksym Kramar</h3>
                                    <p class="section-title-position">***</p>
                                </div>
                            </li>
                            <li class="sectin-names-shadow">
                                <img src="#" alt="Oleg" width="270">
                                <div class="section-title-name-position">
                                    <h3 class="section-title-names">Oleg Oghiroc</h3>
                                    <p class="section-title-position">***</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
        </form>
</div>
</div>