<div class="footer_backdrop is-hidden" data-modal="backdropOverlay">
    <div class="modal" data-modal="aboutUsModal">
        <button type="button" class="close-btn" data-modal-close="closeBtn">
            <svg width="18" height="18">
                <use href="./images/icon-close.svg">
                </use>
            </svg>
        </button>

        <div action="#" class="form-modal">
            <h2 class="title_footer_modal">Mindstorm</h2>
         <!--    <label> -->
                <div class="section center team no-padding-bottom">

                        <ul class="section-names list">
                           
                                <li class="sectin-names-shadow">
                                    <a href="https://github.com/mykolasenyuk">
                                        <img class="team-img" src="./images/modal_about_us/m.jpg" alt="Mykola">
                                    </a>
                                    <div class="section-title-name-position">

                                        <h3 class="section-title-names">Mykola Senyuk</h3>
                                        <p class="section-title-position">Team Lead</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <a href="https://github.com/marinadumberg">
                                        <img class="team-img" src="./images/modal_about_us/Marina.jpg" alt="Marina">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Marina Dumberga-Lobanova</h3>
                                        <p class="section-title-position scram">Scrum Master</p>
                                    </div>
                                </li>
                                  <li class="sectin-names-shadow">
                                    <a href="https://github.com/marynazakvatska">
                                        <img class="team-img" src="./images/modal_about_us/Marina Z.jpg" alt="Марина">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Марина Заквацкая</h3>
                                        <p class="section-title-position">Developer</p>
                                    </div>
                                </li>
                                      <li class="sectin-names-shadow">
                                    <a href="https://github.com/MaksymKramar">
                                        <img class="team-img" src="./images/modal_about_us/Maksym.jpg" alt="Maksym">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Maksym Kramar</h3>
                                        <p class="section-title-position">Developer</p>
                                    </div>
                                </li>
                                       <li class="sectin-names-shadow">
                                    <a href="https://github.com/OlegOghiroc">
                                        <img class="team-img" src="./images/modal_about_us/Oleg.jpg" alt="Oleg">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Oleg Oghiroc</h3>
                                        <p class="section-title-position">Developer<br></p>
                                    </div> 
                                </li>
                                <li class="sectin-names-shadow">
                                    <a href="https://github.com/irynasmile">
                                        <img class="team-img" src="./images/modal_about_us/Iryna.jpg" alt="Iryna">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Iryna Sydoruk</h3>
                                        <p class="section-title-position">Developer</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <a href="https://github.com/AnastasiaYun">
                                        <img class="team-img" src="./images/modal_about_us/Nastya.jpg" alt="Anastasia">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Anastasia Yun</h3>
                                        <p class="section-title-position">Designer</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img class="team-img" src="./images/modal_about_us/Vadim.jpg" alt="Vadim">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Vadym Brikulya</h3>
                                        <p class="section-title-position">Developer</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img class="team-img" src="./images/modal_about_us/Vitaliy.jpg" alt="unknown">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Vitaliy Merzliakov</h3>
                                        <p class="section-title-position">Developer</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow n_margin">
                                    <a href="https://github.com/Flamir0908123">
                                        <img class="team-img" src="./images/modal_about_us/unknown.jpg" alt="unknown">
                                    </a>
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Bogdan Gladky</h3>
                                        <p class="section-title-position">Developer</p>
                                    </div>
                                </li>
                           
                        </ul>
                   
                    </div>
        </div>
    </div>
</div>