<div class="backdrop is-hidden" data-modal="backdropOverlay">
    <div class="modal" data-modal="aboutUsModal">
        <button type="button" class="close-btn" data-modal-close="closeBtn">
            <svg width="18" height="18">
                <use href="./images/icon-close.svg">
                </use>
            </svg>
        </button>

        <form action="#" class="form-modal">
            <p>НАД ПРОЕКТОМ РАБОТАЛИ</p>
            <label>
                <section class="section center team no-padding-bottom">
                    <div class="container">
                        <ul class="section-names list">
                            <div class="name-section-one">
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/m.jpg" alt="Mykola" width="250">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Mykola Senyuk</h3>
                                        <p class="section-title-position">Team Lead</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Marina.jpg" alt="Marina" width="250">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Marina Dumberga</h3>
                                        <p class="section-title-position">Scrum Master</p>
                                    </div>
                                </li>
                            </div>
                            <div class="name-section_two">
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Marina Z.jpg" alt="Марина">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Марина Заквацкая</h3>
                                        <p class="section-title-position">***</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Iryna.jpg" alt="Iryna">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Iryna Sydoruk</h3>
                                        <p class="section-title-position">***</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Nastya.jpg" alt="Anastasia">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Anastasia Yun</h3>
                                        <p class="section-title-position">Designer</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Maksym.jpg" alt="Maksym">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Maksym Kramar</h3>
                                        <p class="section-title-position">***</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Oleg.jpg" alt="Oleg">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Oleg Oghiroc</h3>
                                        <p class="section-title-position">***</p>
                                    </div>
                                </li>
                                <li class="sectin-names-shadow">
                                    <img src="./images/modal_about_us/Vadim.jpg" alt="Vadim">
                                    <div class="section-title-name-position">
                                        <h3 class="section-title-names">Vadym Brikulya</h3>
                                        <p class="section-title-position">***</p>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </section>
        </form>
    </div>
</div>