<div class="backdrop">
  <div class="container_modal_progr">
    <button type="button" class="button__close" data-modal-close>
      <!-- <svg  aria-label="crist" width="30" height="30">
        <use class="icon-crist" href="./images/symbol-defs.svg#close" width="30" height="30"></use>
      </svg> -->
    </button>

    <!-- <img src="/images/small.png" alt="" /> -->
    <!-- <div class="modal__img-container"> -->
    <img class="img modal__img" src="/images/modal/small.png" alt="film picture" />
    <!-- </div> -->
    <div class="card_modal_progr">
      <h1 class="title_modal_progr upper_title">A FISTFUL OF LEAD</h1>
      <div class="info_modal_progr">
        <!--   <div class="title_info_modal_progr"> -->
        <ul>
          <li>
            <span class="title_info_modal_progr vote_distance">Vote/Votes</span>
            <span class="data_items_modal_progr vote_grade">7.3</span>/<span
              class="data_items_modal_progr"
              >1260</span
            >
          </li>
          <li>
            <span class="title_info_modal_progr popularity_distance">Popularity</span>
            <span class="data_items_modal_progr">100.2</span>
          </li>
          <li>
            <span class="title_info_modal_progr title_distance">Original Title</span>
            <span class="data_items_modal_progr upper_title">A FISTFUL OF LEAD</span>
          </li>
          <li>
            <span class="title_info_modal_progr genre_distance">Genre</span>
            <span class="data_items_modal_progr">Western</span>
          </li>
        </ul>
      </div>
      <p>ABOUT</p>
      <p class="description_modal_progr">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
      <div class="buttons_modal_progr">
        <button type="button" class="add_watched">ADD TO WATCHED</button>
        <button type="button" class="add_queue">ADD TO QUEUE</button>
      </div>
    </div>
  </div>
</div>
